body{
    background-color: white;
    width: 100%;
}

h1{
    text-align: center;
    color: white;
    vertical-align: auto;
}



.myimage {
    background-image: url("apple-pie.jpg"); 
    color: white;
    background-size: cover;
    width: 450px;
    height: 450px;
    text-align: center;
    margin: auto;
}

.paragraph{
    padding: 50px;
}

.separator{
    border-top: 3px solid grey;
    
}
div{
    text-align: center;
}